<%= render 'layouts/hero-little' %>
<main class="container mx-auto mt-10 px-5 flex-column text-center">
            <h1 class="title">Contact</h1>
            <div class="form-contact">
            <label for="name"><input type="text" class="form-input my-2" id="name" placeholder="What's your name?"></label>
            <label for="email"><input type="email" class="form-input my-2" id="email" placeholder="Please enter your email"></label>
            <label for="message"><textarea name="message" class="form-input my-2" id="message"  rows="5" placeholder="Leave us a message."></textarea></label>
        </div>
            <button class="btn" type="submit" value="Send">Send</button> 
        </div>
</main>