<footer class=" sticky bottom-0 w-full bg-white shadow md:flex md:items-center md:justify-between md:p-6 dark:bg-gray-800 h-12">
    <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2023 <a href="<%= root_path %>" class="hover:underline">Meowth™</a>. All Rights Reserved.
    </span>
    <ul class="flex flex-wrap items-center mt-3 text-sm text-gray-500 dark:text-gray-400 sm:mt-0">
        <li>
            <a href="<%= about_path %>" class="mr-4 hover:underline md:mr-6 text-gray-500 dark:text-gray-400">A propos</a>
        </li>
        <li>
            <a href="<%= contact_path %>" class="mr-4 hover:underline md:mr-6 text-gray-500 dark:text-gray-400">Contact</a>
        </li>
        <li>
            <a href="#" class="hover:underline text-gray-500 dark:text-gray-400">Privacy Policy</a>
        </li>
    </ul>
</footer>
